.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 80px);
}

input.error {
  border-color: red;
}

.input-errors {
  color: red;
  height: 5px;
}